<!doctype html>

<html>

<head> <!-- head of the html file -->

  <!-- website title-->
  <title>Iris' portfolio</title> 

  <!-- bootstrap's references-->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/index.css" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
</head>


<body> <!-- body of the file -->

	<header> <!-- static header -->
		<h1 align="center">Iris' portfolio</h1> <!-- aligned the title: center -->
	</header> 

	<div class="split3">
		<div class="text-center" align="center">  <!-- alligned the columns in the center of the page -->

		 <div class="column"> <!-- 1st image/link -->
			<div class="iframe">
				<a href="istanbul.html" alt="istanbul">
					<img class="img-square" src="../static/images/istanbul.jpg" style="height:250px; width:350px;"></a>
					<p>ISTANBUL</p>
			</div>
		 </div>
		

		  <div class="column"> <!-- 2nd image/link -->
			<div class="iframe">
				<a href="los_angeles.html" alt="los_angeles">
					<img class="img-square" src="../static/images/los_angeles.jpg" style="height:250px; width:350px;"></a>
					<p>LOS ANGELES</p>
			</div>
		  </div>
		

		 <div class="column"> <!-- 3rd image/link -->
			<div class="iframe">
				<a href="tel_aviv.html" alt="tel_aviv">
					<img class="img-square" src="../static/images/tel_aviv.jpg" style="height:250px; width:350px;"></a>
					<p>TEL AVIV</p>
			</div>
		  </div>

		</div>

	</div>




<!-- 2nd row of columns -->

	<div class="split3">
		<div class="text-center" align="center">  <!-- alligned the columns in the center of the page -->

		 <div class="column"> <!-- 1st image/link -->
			<div class="iframe">
				<a href="london.html" alt="london">
					<img class="img-square" src="../static/images/london.jpg" style="height:250px; width:350px;"></a>
					<p>LONDON</p>
			</div>
		 </div>
				

		 <div class="column"> <!-- 2nd image/link -->
			<div class="iframe">
				<a href="canterbury.html" alt="canterbury">
					<img class="img-square" src="../static/images/canterbury.jpg" style="height:250px; width:350px;"></a>
					<p>CANTERBURY</p>
			</div>
		  </div>


		 <div class="column"> <!-- 3nd image/link -->
			<div class="iframe">
				<a href="milano.html" alt="milano">
					<img class="img-square" src="../static/images/milano.jpg" style="height:250px; width:350px;"></a>
					<p>MILANO</p>
			</div>
		  </div>


		</div>

	</div>

	</div>

<footer> <!-- static header -->
		<p align="center">contact</p> <!-- aligned the title: center -->
	</footer> 

</body>


</html>
